<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>

    @*
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    *@

    <style type="text/css">
        #DIV1 {
            width: 15%;
            line-height: 100%;
            padding: 5px;
            /*border: 2px green solid;*/
            float: left;
        }
        #DIV2 {
            width: 80%;
            line-height: 100%;
            padding: 5px;
            /*border: 2px green solid;*/
            float: left;
        }
    </style>
</head>
<body>
    <div id="DIV1">
        @Html.Action("MenuItem6", "Home");
    </div>

    <div id="DIV2">
        @RenderBody()
        <!--<hr />-->
    </div>


</body>
</html>
