@model WebApplication1.Models.Menu

@{
    ViewBag.Title = "MenuItem";
}

<h2>MenuItem</h2>

<h3>Are you sure you want to delete this?</h3>
<style>
    /* 下拉按钮样式 */
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* 容器 <div> - 需要定位下拉内容 */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* 下拉内容 (默认隐藏) */
    .dropdown-content {
        display: block;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    /* 下拉菜单的链接 */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* 鼠标移上去后修改下拉菜单链接颜色 */
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    /* 在鼠标移上去后显示下拉菜单 */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* 当下拉内容显示后修改下拉按钮的背景颜色 */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script type="text/javascript">
    //為了避免 grid 第一次及第二次畫面對不齊先改成最上面執行search(1) 跑第一頁
    $(document).ready(function () {
        $('li[id*="100"]').click(function () {
            if ($('li[id*="11"]') !== null) {
                $('li[id*="11"]').css("display", "none");
            }
            else {
                $('li[id*="11"]').css("display", "block");
            }

        });
        $('li[id*="100"]').click(function(){
        //$('li[id*="11"]').css("display", "none");
        $('li[id*="11"]').css("display", "none");
        //$('#1101').display = "none";

        //class="dropdown-content"
        //$('#id').hide();
        //$('#id').show();
        //$("#id").css("display", "none");
        //$("#id").css("display", "block");
        });

        $('#menu').click(function () {
            //if ($('li[id*="1101"]') !== null) {            
            if ($('li[id*="11"]').css(":display") != "none") {
                alert("11111");
                $('li[id*="11"]').css("display", "block");
            }
            else {
                alert("22222");
                $('li[id*="11"]').css("display", "none");
            }

            //if ($("#slidingDiv").css(":display") == "none") {

        });
    });
</script>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal"></dl>


    <div id="menu" class="dropbtn">
        <ul>
            @{int i = 1100; int j = i;}
            @foreach (var parentMenu in Model.sys_pgmaster)
            {
                <p id="@i">@parentMenu.name</p>
                <li>@Html.ActionLink(@parentMenu.name, "Index", "Home")</li>
                foreach (var childMenu in Model.sys_pgdetail.Where(x => x.sys_pgmaster_no.Contains(@parentMenu.sys_pgmaster_no)))
                {
                    j++;
                    <li id="@j" >@Html.ActionLink(@childMenu.name,@childMenu.sort, "Home")</li>
                }
                i = i + 100;
                j = i;
            }
        </ul>
    </div>


</div>